.wrapper {
  padding: 0 64px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
}

.nav {
  margin: 0 auto;
  display: flex;
  gap: 32px;
}

.link {
  padding: 24px 0;
}

.active {
  color: #d84343;
}
