.details {
  padding: 48px 64px 80px;

  @media screen and (max-width: 767px) {
    padding: 38px 50px 42px;
  }
}

.wrapper {
  display: flex;
  column-gap: 40px;

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    row-gap: 40px;
  }

  @media screen and (max-width: 767px) {
    row-gap: 20px;
  }
}
