.formWrap {
  border: 1px solid #dadde1;
  border-radius: 0.63rem;
  padding: 44px 57px;

  @media screen and (max-width: 767px) {
    padding: 24px 37px;
  }
}

.title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.text {
  margin-bottom: 24px;
  font-weight: 400;
  color: #6c717b;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.form {
  text-align: center;
}

.label {
  margin-bottom: 14px;
  display: block;

  &:last-child {
    margin-bottom: 24px;
  }
}

.input {
  border-radius: 0.75rem;
  padding: 0 18px;
  height: 60px;
  width: 100%;
  background: #f7f7f7;

  @media screen and (max-width: 767px) {
    height: 50px;
    padding: 0 12px;
  }
}

.textarea {
  padding: 18px;
  height: 118px;
  resize: none;

  @media screen and (max-width: 767px) {
    padding: 12px;
    height: 98px;
  }
}

.error {
  color: red;
  font-size: 14px;
  text-align: left;
}

.btn {
  border-radius: 12.5rem;
  min-width: 166px;
  height: 56px;
  background-color: #e44848;
  color: #fff;
  transition: background-color 250ms linear;

  @media screen and (max-width: 767px) {
    min-width: 126px;
    height: 46px;
  }

  &:hover,
  &:focus {
    background-color: #d84343;
  }
}
