.mainWrapper {
  margin-bottom: 60px;

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.wrapperTop {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }
}

.model,
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.model {
  margin-bottom: 8px;
}

.price {
  margin-bottom: 28px;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
}

.rating {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.star {
  fill: #ffc531;
}

.gallery {
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;

  @media screen and (max-width: 1439px) {
    gap: 15px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.image {
  border-radius: 0.63rem;

  @media screen and (max-width: 1439px) {
    width: 202px;
    height: 222px;
  }

  @media screen and (max-width: 767px) {
    width: 275px;
  }
}

.description {
  font-weight: 400;
  color: #475467;
}
