:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  background-color: #fff;
}

a {
  color: currentColor;
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
textarea {
  outline: none;
  border: 1px solid transparent;
  transition: border-color 250ms linear;
}

input:focus,
textarea:focus {
  border-color: #d84343;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
